<form action="/" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">User</label>
    <input type="text" name="admin_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="admin_password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" name="auth_try" class="btn btn-primary" value='auth'>Sign in</button>
  <!-- <input type="submit" class="btn btn-light" name="" value="Sign in"> -->
</form>
